.alllist-worker {
   
  font: optional;
  
}
.list-worker {
   margin-top : 20px;
   border: 1px solid blanchedalmond;
   height: auto;
   width: 700px;

} 
.item-worker {
    border-bottom: 1px solid gray;
    margin-top: 10px;
    align-items: first baseline;
    
}